:root {
  --text-color: #ffffff; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

.hero-wrapper {
  background-image: url("https://www.mintlify.com/hero/bg-dark.svg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: var(--text-color);
}

/* navbar */

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}


.nav-bar-logo{
  display: flex;
  align-items: center;
  gap: 3px;
  width: 104px;
  height: 24px;
}

.nav-bar-logo img {
  margin-top: 4px;
  width: auto;
  height: 22px;
}

.nav-bar-logo p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.navbar-list{
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-list a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 15px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.btn-transparent{
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  font-weight: 600;
  color: var(--text-color);
  border-radius: 20px;
  background-color:lab(100 0 0 / 0.05);
  cursor: pointer;

}

.btn-transparent:hover {
  opacity: 0.8;
}

.btn-white{
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  font-weight: 600;
  color: var(black);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 4px;
}

.btn-transparent:hover {
 background-color: lab(100 0 0 / 0.1);
}

/* hero-section */

.hero-contenet{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);

}

.hero-badge{
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  background-color: lab(100 0 0 / 0.15);
  padding: 6px 12px;
  border-radius: 30px;
}

.hero-badge:hover {
  background-color: lab(100 0 0 / 0.25);;
}

.badge-tag{
  background-color: lab(51 -41.57 15.35);
  color: var(--text-color);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
}

.badge-text{
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


.badge-arrow svg {
    width: 18px;        
    display: block;     
    color: white;       
}

