:root {
  --text-color: #ffffff; 
  --text-color-green: lab(51  -41.57 15.35)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  background-color: #ffffff; 
  color: #0f172a;
  overflow-x: hidden;
}

.hero-wrapper {
  width: 100%;
  position: relative;
  background-image: url("https://www.mintlify.com/hero/bg-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  mask-image: none; 
  -webkit-mask-image: none;
  
}

/* navbar */

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

}

.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}


.nav-bar-logo{
  display: flex;
  align-items: center;
  gap: 3px;
  width: 104px;
  height: 24px;
}

.nav-bar-logo img {
  margin-top: 4px;
  width: auto;
  height: 22px;
}

.nav-bar-logo p {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: var(--text-color);
}

.navbar-list{
  display: flex;
  list-style: none;
  gap: 32px;
}

.navbar-list a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 15px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.btn-transparent{
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  font-weight: 600;
  color: var(--text-color);
  border-radius: 20px;
  background-color:lab(100 0 0 / 0.05);
  cursor: pointer;

}

.btn-transparent:hover {
  opacity: 0.8;
}

.btn-white{
  padding: 8px 16px;
  font-size: 15px;
  border: none;
  font-weight: 600;
  color: var(black);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 4px;
}

.btn-transparent:hover {
 background-color: lab(100 0 0 / 0.1);
}

/* hero-section */

.hero-contenet{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
  color: var(--text-color);

}

.hero-badge{
  display: inline-flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  background-color: lab(100 0 0 / 0.15);
  padding: 6px 12px;
  border-radius: 30px;
}

.hero-badge:hover {
  background-color: lab(100 0 0 / 0.25);
  background-color: lab(100 0 0 / 0.25);;
}

.badge-tag{
  background-color: lab(51 -41.57 15.35);
  color: var(--text-color);
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
}

.badge-text{
  color: var(--text-color);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}


.badge-arrow svg {
  width: 18px;        
  display: block;     
  color: white;       
}

.hero-title{
  margin-top: 35px;
  font-size: 48px;
  margin-bottom: 25px;
}

.hero-description{
  font-size: 19px;
  color: var(--text-color);
  margin-bottom: 25px;
}

.hero-form{
  display: flex;
  align-items: center;
  background-color: lab(100 0 0 / 0.15);
  padding: 8px 20px;
  border-radius: 30px;
  gap: 20px;
  margin-bottom: 60px;
}

.hero-input{
  
 background-color: transparent;
 border: none;
 outline: none;
 width: 200px;
 font-size: 14px;
 color: var(--text-color);

}

.hero-input::placeholder {
  color: #94a3b8; 
  opacity: 1;
}

.hero-submit-btn{
  padding: 8px 6px;
  border-radius: 10px;
  border: none;
  font-size: 14px;            
}


.hero-img {
    margin-top: 30px;
    width: 87%;
    position: relative; 
    z-index: 10;
}


.hero-img::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; 
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  pointer-events: none; 
}


.hero-img img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 20px 60px -10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* company brand */

.white-section{
  background-color: #ffffff;
}

.company-section{

  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid red; */
  padding-top: 80px;
  padding-left: 170px;
}

.img-section{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.company-img{
  margin-bottom: 40px;
}

.company-img img {
  width: 100px;
}

#x-logo{
  width: 50px;
  margin-left: 20px;
}

/* integrate ai way */

.integrate-ai-way{
  border: 2px solid red;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.integrate-ai-way-description{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px solid pink;
}

.integrate-ai-way-title{
  color: black;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px;
}

.integrate-ai-way-sub-description{
  color: gray;
  font-size: 16px;
  line-height: 25px;
}

.integrate-ai-containers{
  border: 2px solid greenyellow;
  margin-top: 50px;
  display: grid;
  padding: 0px 100px;
  grid-template-columns: repeat(2, 1fr);
}

.integrate-ai-way-container-1{
  border: 2px solid blue;
  margin: 10px 10px;
  padding: 20px;

}

.integrate-ai-container-1-title{
  color: var(--text-color-green);
}

